<%
  helpers.includeCss("footer.less");
%>

<% template.define('footer', function() { var ejs_data=''; %>
<footer id="pad-page-footer" class="hide-before-pad-load iphonehide">
  <p>collab.cool is an unsupported service provided by Kudelabs.</p>
  <p>It is a customized deployment of the open source <a href="https://github.com/dropbox/hackpad">Hackpad</a> codebase. Find more information on <a href="https://github.com/kudelabs/hackpad">Github</a></p>
</footer>
<% return ejs_data; }); %>
